$primary: #AA0601;
$primary-light: #AA0511;
$primary-dark: #9F1213;
$primary-darkest: #650300;

$secondary: #FBF2F2;

$tertiary: #5F3E2D;
$tertiary-light: #B75929;

$black: #000;
$white: #fff;

//灰色系
$gray-900 : #0A0A0A;
$gray-800 : #212529;
$gray-700 : rgba(73, 80, 87, 0.75);
$gray-600 : #555555;
$gray-500 : #707070;
$gray-400 : #CED4DA;
$gray-300 : #DCDCDC;
$gray-200 : #DEE2E6;
$gray-100 : #F2F2F2;

$shadow: rgba(0, 0, 0, 0.12);