.product-menu {
    @media (max-width: 992px) {
        margin-left: -12px;
        margin-right: -12px;
    }

    &-item {
        width: calc(100% / 3);
        border-left: 1px solid $gray-300;
        text-align: center;

        &:last-child {
            border-right: 1px solid $gray-300;
        }
    }

    &-link {
        display: block;
        height: 96px;
        padding-top: 24px;
        padding-bottom: 24px;
        background-color: $white;
        color: $black;

        @media (max-width: 992px) {
            height: 68px;
            padding-top: 16px;
            padding-bottom: 16px;
        }

        @media (max-width: 767px) {
            height: 56px;
        }

        &.active {
            border-bottom: 8px solid $primary;
        }

        &:hover,
        &:active {
            background-color: $secondary;
        }
    }
}

.product-banner {
    width: 50%;
    height: 296px;
    background-position: center;
    background-size: cover;

    &-glasses-optical {
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true);
    }

    &-modal-optical {
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true);
    }

    &-glasses-sunglasses {
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-3.png?raw=true);
    }

    &-modal-sunglasses {
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-4.png?raw=true);
    }

    @media (max-width: 767px) {
        height: 136px;

        &-glasses-optical {
            background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-1.png?raw=true);
        }

        &-modal-optical {
            background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true);
        }

        &-glasses-sunglasses {
            background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-3.png?raw=true);
        }

        &-modal-sunglasses {
            background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-4.png?raw=true);
        }
    }
}

// product 內容
.product {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (max-width:767px) {
        padding-top: 40px;
        padding-bottom: 64px;
    }
}

.product-card {
    row-gap: 80px;

    @media (max-width: 992px) {
        row-gap: 40px;
    }

    @media (max-width: 767px) {
        row-gap: 24px;
    }

    &-img {
        
        &-optical {
            height: 168px;
        }

        &-sunglasses {
            height: 224px;
        }
    }

    &-palette {
        width: 24px;
        height: 24px;
        border-radius: 4px;
    }
}
