<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>w4-眼鏡官網-Optical系列</title>
  <%- include('./layout/font&icon'); -%>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container">
      <ul class="product-menu d-flex">
        <li class="product-menu-item">
          <a href="./product-optical.html" class="product-menu-link active h5 fs-1-md fs-base-sm fw-med">OPTICAL</a>
        </li>
        <li class="product-menu-item">
          <a href="./product-sunglasses.html" class="product-menu-link h5 fs-1-md fs-base-sm fw-med">SUNGLASSES</a>
        </li>
        <li class="product-menu-item">
          <a href="#" class="product-menu-link h5 fs-1-md fs-base-sm fw-med">FUNCTIONAL</a>
        </li>
      </ul>
    </div>
    <ul class="d-flex">
      <li class="product-banner product-banner-glasses-optical"></li>
      <li class="product-banner product-banner-modal-optical"></li>
    </ul>
    <div class="container">
      <div class="product">
        <h1 class="h3 fs-base-sm fw-med text-center">Celluloid Combi</h1>
        <h2 class="h5 fs-1 mb-8 mb-6-sm text-center">賽璐珞鈦金屬混合鏡框</h2>
        <ul class="product-card row flex-wrap mb-20 mb-16-sm">
          <li class="col-3 col-6-md col-12-sm">
            <div class="card-item">
              <div class="card-img">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true"
                  alt="BJ41600S" class="card-img-content product-card-img-optical">
              </div>
              <div class="d-flex justify-between">
                <h3 class="fs-1">BJ41600S</h3>
                <p class="fs-1 fw-med text-primary">NTD3,490</p>
              </div>
              <ul class="d-flex">
                <li class="product-card-palette bg-tertiary mr-2"></li>
                <li class="product-card-palette bg-tertiary-light"></li>
              </ul>
            </div>
          </li>
          <li class="col-3 col-6-md col-12-sm">
            <div class="card-item">
              <div class="card-img">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true"
                  alt="BJ41600S" class="card-img-content product-card-img-optical">
              </div>
              <div class="d-flex justify-between">
                <h3 class="fs-1">BJ41600S</h3>
                <p class="fs-1 fw-med text-primary">NTD3,490</p>
              </div>
              <ul class="d-flex">
                <li class="product-card-palette bg-tertiary mr-2"></li>
                <li class="product-card-palette bg-tertiary-light"></li>
              </ul>
            </div>
          </li>
          <li class="col-3 col-6-md col-12-sm">
            <div class="card-item">
              <div class="card-img">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true"
                  alt="BJ41600S" class="card-img-content product-card-img-optical">
              </div>
              <div class="d-flex justify-between">
                <h3 class="fs-1">BJ41600S</h3>
                <p class="fs-1 fw-med text-primary">NTD3,490</p>
              </div>
              <ul class="d-flex">
                <li class="product-card-palette bg-tertiary mr-2"></li>
                <li class="product-card-palette bg-tertiary-light"></li>
              </ul>
            </div>
          </li>
          <li class="col-3 col-6-md col-12-sm">
            <div class="card-item">
              <div class="card-img">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true"
                  alt="BJ41600S" class="card-img-content product-card-img-optical">
              </div>
              <div class="d-flex justify-between">
                <h3 class="fs-1">BJ41600S</h3>
                <p class="fs-1 fw-med text-primary">NTD3,490</p>
              </div>
              <ul class="d-flex">
                <li class="product-card-palette bg-tertiary mr-2"></li>
                <li class="product-card-palette bg-tertiary-light"></li>
              </ul>
            </div>
          </li>
          <li class="col-3 col-6-md col-12-sm">
            <div class="card-item">
              <div class="card-img">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true"
                  alt="BJ41600S" class="card-img-content product-card-img-optical">
              </div>
              <div class="d-flex justify-between">
                <h3 class="fs-1">BJ41600S</h3>
                <p class="fs-1 fw-med text-primary">NTD3,490</p>
              </div>
              <ul class="d-flex">
                <li class="product-card-palette bg-tertiary mr-2"></li>
                <li class="product-card-palette bg-tertiary-light"></li>
              </ul>
            </div>
          </li>
          <li class="col-3 col-6-md col-12-sm">
            <div class="card-item">
              <div class="card-img">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true"
                  alt="BJ41600S" class="card-img-content product-card-img-optical">
              </div>
              <div class="d-flex justify-between">
                <h3 class="fs-1">BJ41600S</h3>
                <p class="fs-1 fw-med text-primary">NTD3,490</p>
              </div>
              <ul class="d-flex">
                <li class="product-card-palette bg-tertiary mr-2"></li>
                <li class="product-card-palette bg-tertiary-light"></li>
              </ul>
            </div>
          </li>
          <li class="col-3 col-6-md col-12-sm">
            <div class="card-item">
              <div class="card-img">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true"
                  alt="BJ41600S" class="card-img-content product-card-img-optical">
              </div>
              <div class="d-flex justify-between">
                <h3 class="fs-1">BJ41600S</h3>
                <p class="fs-1 fw-med text-primary">NTD3,490</p>
              </div>
              <ul class="d-flex">
                <li class="product-card-palette bg-tertiary mr-2"></li>
                <li class="product-card-palette bg-tertiary-light"></li>
              </ul>
            </div>
          </li>
          <li class="col-3 col-6-md col-12-sm">
            <div class="card-item">
              <div class="card-img">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true"
                  alt="BJ41600S" class="card-img-content product-card-img-optical">
              </div>
              <div class="d-flex justify-between">
                <h3 class="fs-1">BJ41600S</h3>
                <p class="fs-1 fw-med text-primary">NTD3,490</p>
              </div>
              <ul class="d-flex">
                <li class="product-card-palette bg-tertiary mr-2"></li>
                <li class="product-card-palette bg-tertiary-light"></li>
              </ul>
            </div>
          </li>
          <li class="col-3 col-6-md col-12-sm">
            <div class="card-item">
              <div class="card-img">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true"
                  alt="BJ41600S" class="card-img-content product-card-img-optical">
              </div>
              <div class="d-flex justify-between">
                <h3 class="fs-1">BJ41600S</h3>
                <p class="fs-1 fw-med text-primary">NTD3,490</p>
              </div>
              <ul class="d-flex">
                <li class="product-card-palette bg-tertiary mr-2"></li>
                <li class="product-card-palette bg-tertiary-light"></li>
              </ul>
            </div>
          </li>
          <li class="col-3 col-6-md col-12-sm">
            <div class="card-item">
              <div class="card-img">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true"
                  alt="BJ41600S" class="card-img-content product-card-img-optical">
              </div>
              <div class="d-flex justify-between">
                <h3 class="fs-1">BJ41600S</h3>
                <p class="fs-1 fw-med text-primary">NTD3,490</p>
              </div>
              <ul class="d-flex">
                <li class="product-card-palette bg-tertiary mr-2"></li>
                <li class="product-card-palette bg-tertiary-light"></li>
              </ul>
            </div>
          </li>
          <li class="col-3 col-6-md col-12-sm">
            <div class="card-item">
              <div class="card-img">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true"
                  alt="BJ41600S" class="card-img-content product-card-img-optical">
              </div>
              <div class="d-flex justify-between">
                <h3 class="fs-1">BJ41600S</h3>
                <p class="fs-1 fw-med text-primary">NTD3,490</p>
              </div>
              <ul class="d-flex">
                <li class="product-card-palette bg-tertiary mr-2"></li>
                <li class="product-card-palette bg-tertiary-light"></li>
              </ul>
            </div>
          </li>
          <li class="col-3 col-6-md col-12-sm">
            <div class="card-item">
              <div class="card-img">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true"
                  alt="BJ41600S" class="card-img-content product-card-img-optical">
              </div>
              <div class="d-flex justify-between">
                <h3 class="fs-1">BJ41600S</h3>
                <p class="fs-1 fw-med text-primary">NTD3,490</p>
              </div>
              <ul class="d-flex">
                <li class="product-card-palette bg-tertiary mr-2"></li>
                <li class="product-card-palette bg-tertiary-light"></li>
              </ul>
            </div>
          </li>
        </ul>
        <ul class="pagination d-flex justify-center fs-3 fs-base-sm">
          <li class="pagination-item">
            <a href="#" class="pagination-link">上一頁</a>
          </li>
          <li class="pagination-item">
            <a href="#" class="pagination-link active">1</a>
          </li>
          <li class="pagination-item">
            <a href="#" class="pagination-link">2</a>
          </li>
          <li class="pagination-item">
            <a href="#" class="pagination-link">3</a>
          </li>
          <li class="pagination-item">
            <a href="#" class="pagination-link">4</a>
          </li>
          <li class="pagination-item">
            <a href="#" class="pagination-link">5</a>
          </li>
          <li class="pagination-item">
            <a href="#" class="pagination-link">下一頁</a>
          </li>
        </ul>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>

</html>